#greetingContainer {
    text-align: center;
    margin-bottom: 1vh;
}

#botAvatarGreeting {
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
}

#greetingMessage {
    font-size: 1.6vh;
    color: #333;
}

#chatAreaWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#chatArea {
    width: 60vw;
    height: 30vw;
    border: none;
    border-radius: 1.5vw;
    padding: 1vw;
    margin: 0 auto;
    margin-bottom: 2vw;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    box-shadow: 0px 0.3vw 1.5vw rgba(0, 0, 0, 0.1);
    border-style: solid;
    border-width: 0.1vw;
    border-color: #9f9f9f;
}

#chatArea::-webkit-scrollbar {
    width: 1vw;
}

#chatArea::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 0.5vw;
}

#chatArea::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.message {
    max-width: 80vw;
    min-width: 40vw;
    padding: 1vw;
    margin: 1vw 0;
    border-radius: 1.5vw;
    display: inline-block;
    font-size: 1.4vw;
    line-height: 1.5;
}

.message-bot {
    background-color: #9f9f9f;
    color: white;
}

.message-user {
    background-color: #ddd;
    color: #333;
}

.message-wrapper {
    display: flex;
    align-items: flex-start;
    margin: 1vw 0;
}

.user-wrapper {
    flex-direction: row-reverse;
}

.message-container {
    display: flex;
    flex-direction: column;
}

.message-container-bot {
    align-items: flex-start;
}

.message-container-user {
    align-items: flex-end;
}

.bot-wrapper {
    flex-direction: row;
}

.avatar {
    border-radius: 50%;
    border-style: solid;
    border-width: 0.15vw;
    border-color: #9f9f9f;
    height: 4.8vw;
    width: 4.8vw;
    margin: 1.2vw 0 0 0;
}

.avatar-user {
    margin-left: 1vw;
}

.avatar-bot {
    margin-right: 0.8vw;
}

.timestamp {
    font-size: 0.8vh;
    color: grey;
}

#inputContainer {
    width: 90vw;
    height: 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1vw;
    margin: auto;
    margin-left: 4.4vw;
}

#inputText {
    width: calc(100% - 1vw);
    border: none;
    border-radius: 2vw;
    padding: 1vw;
    outline: none;
    font-size: 1.4vh;
    font-style: normal;
    box-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.1);
    background-color: white;
    margin-right: 0vw;
}

#inputText::placeholder {
    font-style: italic;
}

#submitButton {
    background-color: #9f9f9f;
    color: white;
    border: none;
    border-radius: 2vw;
    padding: 1vw 0;
    margin-left: 1vw;
    cursor: pointer;
    outline: none;
    box-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.1);
    font-size: 1.4vh;
    font-weight: bold;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11vw;
}

#submitButton:hover {
    background-color: #7f7f7f;
}