.form-popup {
    display: none;
    position: fixed;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    border: 0.3vh solid #999999;
    z-index: 9;
    max-width: 30vw;
    padding: 2vh;
    background-color: #f1f1f1;
}

.container {
    padding: 2vh;
    background-color: #f1f1f1;
}

.container input[type=text],
.container input[type=password] {
    width: 100%;
    padding: 2vh;
    margin: 0.5vh 0 2vh 0;
    border: none;
    background: #f1f1f1;
}

.container input[type=text]:focus,
.container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.container .btn {
    background-color: #9f9f9f;
    color: white;
    padding: 2vh 2.5vw;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 1vh;
    opacity: 0.8;
}

.container .btn:hover,
.open-button:hover {
    opacity: 1;
}

#login-popup,
#signup-popup {
    display: none;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.google-button {
    width: 100%;
    cursor: pointer;
    margin-top: 1vh;
}

.or-separator {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2vh 0;
}

.line {
    flex-grow: 1;
    height: 0.1vh;
    background-color: #000;
}

.or-box {
    margin: 0 1vw;
    padding: 0.5vh 1vw;
    background-color: #fff;
}