#inputContainer {
    width: 90%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin: auto;
    margin-left: 4.4%;
}

#inputText {
    width: calc(100% - 10px);
    border: none;
    border-radius: 20px;
    padding: 10px;
    outline: none;
    font-size: 14px;
    font-style: normal;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: white;
    margin-right: 0px;
}

#inputText::placeholder {
    font-style: italic;
}

#submitButton {
    background-color: #9f9f9f;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 0px;
    margin-left: 10px;
    cursor: pointer;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
}

#submitButton:hover {
    background-color: #7f7f7f;
}

#controlContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
    margin-top: 2vh;
}

#clearChat,
#saveChat,
#apiSelect {
    background-color: #9f9f9f;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
    height: 30px;
    width: calc((100% - 20px) / 3);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

#clearChat {
    margin-left: 10%;
}

#saveChat {
    margin-right: 10%;
}

.clear-button {
    width: 110px;
}


#sidebarButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: 2%;
}

.clear-button,
.logout-button {
    background-color: #9f9f9f;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
    height: 30px;
    width: calc((100% - 20px) / 3);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.clear-button:hover,
.logout-button:hover {
    background-color: #7f7f7f;
}

#clearChat:hover,
#saveChat:hover,
.clear-button:hover {
    background-color: #7f7f7f;
}

#apiSelect {
    color: #fff;
    font-size: 14px;
    background-color: #9f9f9f;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    width: 130px;
}

#apiSelect option {
    background-color: #9f9f9f;
    color: #fff;
}

#apiSelect option:hover {
    background-color: #7f7f7f;
}

#apiSelect option:focus,
#apiSelect option:active {
    background-color: #fff;
    color: #7f7f7f;
}

#apiSelect:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #7f7f7f;
}

#apiKeyDisplay {
    color: #333;
    font-size: 12px;
    font-style: italic;
    text-align: center;
}

#modelNameDisplay {
    color: #333;
    font-size: 12px;
    font-style: italic;
    margin-top: -10px;
    text-align: center;
    padding-bottom: 0px;
}

#savedChatsContainer {
    list-style: none;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #646464;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    height: 80vh;
}

#saveChats {
    align-items: center;
    justify-content: center;
}

#savedChatsList {
    list-style: none;
    padding-left: 1px;
    padding-right: 10px;
    overflow-y: auto;
    background-color: #f0f0f0;
    padding-top: 25px;
    border-radius: 15px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
}

#savedChatsList::-webkit-scrollbar {
    width: 10px;
}

#savedChatsList::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

#savedChatsList::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.list-item-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.titleAndTrashContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    border-radius: 5px;
    padding: 5px 10px;
}

.title,
.titleButton {
    flex-grow: 1;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: none;
    cursor: pointer;
    margin-right: 2px;
    margin-left: 2px;
    border: 1px solid #888;
    border-radius: 5px;
}

.title:hover,
.titleButton:hover {
    background-color: #888;
}

.fa-trash-alt {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    cursor: pointer;
    margin-left: 2px;
    margin-right: 2px;
    border: 1px solid #888;
    border-radius: 5px;
    padding: 2px;
}