nav {
    background-color: #333;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 5vh;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav ul li {
    padding: 2vh 2vw;
}

nav ul li a {
    display: block;
    color: #fff;
    text-align: center;
}

nav ul li a img {
    height: 1.2vh;
    width: 1.2vw;
}

nav ul li:hover {
    background-color: #111;
    transition: background-color 0.2s;
}