body {
    font-family: 'Helvetica Neue', sans-serif;
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-color: #f5f5f5;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    overflow-x: hidden;
    overflow: hidden;
    transition: width 0.5s;
}

/* Style the navigation links */
/* Style the navigation bar */


#mainContainer {
    padding-top: 5vh;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 1vw;
    width: calc(100vw - 3vw);
    position: absolute;
    left: 0;
    right: 3vw;
    transition: width 0.42s ease-in-out;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 0.4vw 0.4vw rgba(0, 0, 0, 0.1);
}

#mainContainer.main-open {
    width: 80vw;
}

#mainContainer.main-closed {
    width: 98vw;
}

#mainContainer,
#sidebar {
    display: none;
}

#sidebar {
    position: fixed;
    width: 20vw;
    right: -20vw;
    top: 0;
    height: 100vh;
    transition: right 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    background-color: #ededed;
    box-sizing: border-box;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    box-shadow: 0px 0.4vw 0.4vw rgba(0, 0, 0, 0.1);
    z-index: 999;
    border-left: 1px solid #999999;
    z-index: 1001;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#sidebar.open {
    right: 0;
    transition: 0.5s;
}

#sidebar.closed {
    right: -20vw;
}

#sidebar.open~#mainContainer {
    width: calc(100vw - 20vw);
}

#sidebar.closed~#mainContainer {
    width: calc(100vw);
}


#sidebarToggleWrapper {
    display: flex;
    align-items: center;
    height: 5vh;
}

#sidebarToggle {
    position: relative;
    padding: 0.5vw;
    padding-bottom: 0;
    cursor: pointer;
    z-index: 1002;
    display: block;
}


/* Reset some properties */
nav,
ul,
li,
a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* Style the navigation bar */
nav {
    background-color: #333;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 5vh;
}

/* Style the navigation links */
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* This will vertically center the content */
    height: 100%;
    /* This ensures the <ul> is the same height as the nav bar */
}

nav ul li {
    padding: 0;
    /* Remove padding from <li> */
    height: 100%;
    /* This ensures the <li> is the same height as the nav bar */
}

nav ul li a {
    display: flex;
    /* Changed to flex to allow for alignment properties */
    align-items: center;
    /* Vertically centers the content within the anchor tag */
    color: #fff;
    text-align: center;
    padding: 0 1.6vw;
    /* Move padding to the <a> tag */
    height: 100%;
    /* This ensures the <a> tag is the same height as the nav bar */
}

/* Style the image within the link */
nav ul li a img {
    height: 1.2vw;
    width: 1.2vw;
}

/* Change color on hover */
nav ul li:hover {
    background-color: #111;
    transition: background-color 0.2s;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 0.3vw solid #999999;
    z-index: 9;
    max-width: 30vw;
    padding: 2vw;
    background-color: #f1f1f1;
}

/* Add some padding and a grey background color to containers that hold input fields */
.container {
    padding: 2vw;
    background-color: #f1f1f1;
}

/* Style input fields */
.container input[type=text],
.container input[type=password] {
    width: 100%;
    padding: 1.5vw;
    margin: 0.5vw 0 2vw 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.container input[type=text]:focus,
.container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit button */
.container .btn {
    background-color: #9f9f9f;
    color: white;
    padding: 1.6vw 2vw;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 1vw;
    opacity: 0.8;
}

/* Add some hover effects to buttons */
.container .btn:hover,
.open-button:hover {
    opacity: 1;
}

#login-popup,
#signup-popup {
    display: none;
}

.signup-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#login-popup {
    display: block;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.google-button {
    width: 100%;
    cursor: pointer;
    margin-top: 1vw;
}

.or-separator {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5vw 0;
}

.line {
    flex-grow: 1;
    height: 0.1vw;
    background-color: #000;
}

.or-box {
    margin: 0 1vw;
    padding: 0.5vw 1vw;
    background-color: #fff;
}

#greetingContainer {
    text-align: center;
    margin-bottom: 1vw;
}

#botAvatarGreeting {
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
}

#greetingMessage {
    font-size: 1.6vw;
    color: #333;
}

#chatAreaWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 40vh
}

#chatArea {
    width: 60vw;
    height: 20vw;
    border: none;
    border-radius: 1.5vw;
    padding: 1vw;
    margin: 0 auto;
    margin-bottom: 2vw;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    box-shadow: 0px 0.3vw 0.15vw rgba(0, 0, 0, 0.1);
    border-style: solid;
    border-width: 0.1vw;
    border-color: #9f9f9f;
}

#chatArea::-webkit-scrollbar {
    width: 1vw;
}

#chatArea::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 0.5vw;
}

#chatArea::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.message {
    max-width: 80vw;
    min-width: 40vw;
    padding: 1vw;
    margin: 1vw 0;
    border-radius: 1.5vw;
    display: inline-block;
    font-size: 1.4vw;
    line-height: 1.5;
}

.message-bot {
    background-color: #9f9f9f;
    color: white;
}

.message-user {
    background-color: #ddd;
    color: #333;
}

.message-wrapper {
    display: flex;
    align-items: flex-start;
    margin: 1vw 0;
}

.user-wrapper {
    flex-direction: row-reverse;
}

.message-container {
    display: flex;
    flex-direction: column;
}

.message-container-bot {
    align-items: flex-start;
}

.message-container-user {
    align-items: flex-end;
}

.bot-wrapper {
    flex-direction: row;
}

.avatar {
    border-radius: 50%;
    border-style: solid;
    border-width: 0.15vw;
    border-color: #9f9f9f;
    height: 4.8vw;
    width: 4.8vw;
    margin: 1.2vw 0 0 0;
}

.avatar-user {
    margin-left: 1vw;
}

.avatar-bot {
    margin-right: 0.8vw;
}

.timestamp {
    font-size: 0.8em;
    color: grey;
}

#inputContainer {
    width: 90vw;
    height: 3vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1vw;
    margin: auto;
    margin-left: 4.4vw;
}

#inputText {
    width: calc(100vw - 1vw);
    border: none;
    border-radius: 2vw;
    padding: 1vw;
    outline: none;
    font-size: 1.4vw;
    font-style: normal;
    box-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.1);
    background-color: white;
    margin-right: 0;
}

#inputText::placeholder {
    font-style: italic;
}

#submitButton {
    background-color: #9f9f9f;
    color: white;
    border: none;
    border-radius: 2vw;
    padding: 1vw 0;
    margin-left: 1vw;
    cursor: pointer;
    outline: none;
    box-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.1);
    font-size: 1.4vw;
    font-weight: bold;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11vw;
}

#submitButton:hover {
    background-color: #7f7f7f;
}

#controlContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 2vw;
    width: 100vw;
}

#clearChat,
#saveChat,
#apiSelect {
    background-color: #9f9f9f;
    color: white;
    border: none;
    border-radius: 2vw;
    padding: 0.5vw 1vw;
    cursor: pointer;
    outline: none;
    box-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.1);
    font-size: 1.2vw;
    font-weight: bold;
    white-space: nowrap;
    height: 3vw;
    width: calc((100vw - 2vw) / 3);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

#clearChat {
    margin-left: 10vw;
}

#saveChat {
    margin-right: 10vw;
}

.clear-button {
    width: 11vw;
}


#sidebarButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    position: absolute;
    bottom: 0;
    margin-bottom: 2vh;
}

.clear-button,
.logout-button {
    background-color: #9f9f9f;
    color: white;
    border: none;
    border-radius: 2vw;
    padding: 0.5vw 1vw;
    cursor: pointer;
    outline: none;
    box-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.1);
    font-size: 1.2vw;
    font-weight: bold;
    white-space: nowrap;
    height: 3vw;
    width: calc((100vw - 2vw) / 3);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5vw;
}

.clear-button:hover,
.logout-button:hover {
    background-color: #7f7f7f;
}

#clearChat:hover,
#saveChat:hover,
.clear-button:hover {
    background-color: #7f7f7f;
}

#apiSelect {
    color: #fff;
    font-size: 1.4vw;
    background-color: #9f9f9f;
    border: none;
    border-radius: 2vw;
    padding: 0.5vw 1vw;
    width: 13vw;
}

#apiSelect option {
    background-color: #9f9f9f;
    color: #fff;
}

#apiSelect option:hover {
    background-color: #7f7f7f;
}

#apiSelect option:focus,
#apiSelect option:active {
    background-color: #fff;
    color: #7f7f7f;
}

#apiSelect:focus {
    outline: none;
    box-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.1);
    background-color: #7f7f7f;
}

#apiKeyDisplay {
    color: #333;
    font-size: 1.2vw;
    font-style: italic;
    text-align: center;
}

#modelNameDisplay {
    color: #333;
    font-size: 1.2vw;
    font-style: italic;
    margin-top: -1vw;
    text-align: center;
    padding-bottom: 0;
}

#savedChatsContainer {
    list-style: none;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #646464;
    padding: 0.5vw;
    border-radius: 1.5vw;
    box-shadow: 0px 0.3vw 0.15vw rgba(0, 0, 0, 0.1);
    height: 80vh;
}

#saveChats {
    align-items: center;
    justify-content: center;
}

#savedChatsList {
    list-style: none;
    padding-left: 0.1vw;
    padding-right: 1vw;
    overflow-y: auto;
    background-color: #f0f0f0;
    padding-top: 2.5vw;
    border-radius: 1.5vw;
    box-shadow: 0px 0.3vw 0.15vw rgba(0, 0, 0, 0.1);
    flex-grow: 1;
}

#savedChatsList::-webkit-scrollbar {
    width: 1vw;
}

#savedChatsList::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 0.5vw;
}

#savedChatsList::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.list-item-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

.titleAndTrashContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    border-radius: 0.5vw;
    padding: 0.5vw 1vw;
}

.title,
.titleButton {
    flex-grow: 1;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: none;
    cursor: pointer;
    margin-right: 0.2vw;
    margin-left: 0.2vw;
    border: 0.1vw solid #888;
    border-radius: 0.5vw;
}

.title:hover,
.titleButton:hover {
    background-color: #888;
}

.fa-trash-alt {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    cursor: pointer;
    margin-left: 0.2vw;
    margin-right: 0.2vw;
    border: 0.1vw solid #888;
    border-radius: 0.5vw;
    padding: 0.2vw;
}