/* ------------------------- 1. desktop-body ------------------------------------------------ */

body {
    font-family: 'Helvetica Neue', sans-serif;
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-color: #f5f5f5;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    overflow-x: hidden;
    overflow: hidden;
    transition: width 0.5s;
    overflow: hidden;
}

/* ------------------------- 2. desktop-mainContainer ------------------------------------------------ */

#mainContainer {
    padding-top: 7vh;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 1vw;
    width: 100vw;
    position: absolute;
    left: 0;
    right: 3vw;
    transition: width 0.42s ease-in-out;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 1.5vh;
    box-shadow: 0px 0.3vh 1.5vh rgba(0, 0, 0, 0.1);

}

#mainContainer.main-open {
    width: 80vw;
}

#mainContainer.main-closed {
    width: 98vw;
}

/* ---------------------------- 3. desktop-sidebar--------------------------------------------- */

/* These styles control the sidebar's initial state, positioning, and appearance */
#sidebar {
    position: fixed;
    width: 20vw;
    right: -20vw;
    top: 0;
    height: 100vh;
    transition: right 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    background-color: #ededed;
    box-sizing: border-box;
    padding-left: .5vw;
    padding-right: .5vw;
    box-shadow: 0px 0.3vw 1.5vw rgba(0, 0, 0, 0.1);
    z-index: 999;
    border-left: 0.1vw solid #999999;
    border-top-left-radius: 1.5vw;
    border-bottom-left-radius: 1.5vw;
    justify-content: flex-start;
}

/* These styles manage the sidebar's open and closed states */
#sidebar.open {
    right: 0;
}

#sidebar.closed {
    right: -20vw;
}

/* These styles handle the adjustment of the main container when the sidebar is open or closed */
#sidebar.open~#mainContainer {
    width: calc(80vw);
}

#sidebar.closed~#mainContainer {
    width: calc(100vw);
}

/* These styles manage the sidebar toggle wrapper */
#sidebarToggleWrapper {
    display: flex;
    align-items: center;
    height: 5vh;
}

/* This style controls the sidebar toggle button */
#sidebarToggle {
    position: relative;
    padding: 0.5vh;
    cursor: pointer;
    z-index: 1002;
    display: block;
}

/* --------------------------- 4. desktop-navBar ---------------------------------------------- */

nav {
    background-color: #333;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 5vh;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* This will ensure that the navbar elements are vertically centered */
    height: 100%;
    /* The height is set to 100% to ensure that the navbar fills the entire height */
}

nav ul li {
    padding: 0vh 2vw;
}

nav ul li a {
    display: flex;
    /* Changed to flex to allow for alignment properties */
    align-items: center;
    /* Vertically centers the content within the anchor tag */
    color: #fff;
    text-align: center;
    height: 100%;
    /* The height is set to 100% to ensure that the anchor tag fills the entire height of the li */
}

nav ul li a img {
    height: 1.2vh;
    width: 1.2vw;
}

nav ul li:hover {
    background-color: #111;
    transition: background-color 0.2s;
}

nav ul li.userProfile {
    padding-right: 1vw;
    /* Adjust this value to suit your needs */
}

nav ul li.sidebarToggleNav {
    padding-left: 3vw;
    /* Adjust this value to suit your needs */
}

/* ---------------------- 5. deskop-popupForm --------------------------------------------------- */

.form-popup {
    display: none;
    position: fixed;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    border: 0.3vh solid #999999;
    z-index: 9;
    max-width: 30vw;
    padding: 2vh;
    background-color: #f1f1f1;
}

.container {
    padding: 2vh;
    background-color: #f1f1f1;
}

.container input[type=text],
.container input[type=password] {
    width: 100%;
    padding: 2vh;
    margin: 0.5vh 0 2vh 0;
    border: none;
    background: #f1f1f1;
}

.container input[type=text]:focus,
.container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.container .btn {
    background-color: #9f9f9f;
    color: white;
    padding: 2vh 2.5vw;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 1vh;
    opacity: 0.8;
}

.container .btn:hover,
.open-button:hover {
    opacity: 1;
}

#login-popup,
#signup-popup {
    display: none;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.google-button {
    width: 100%;
    cursor: pointer;
    margin-top: 1vh;
}

.or-separator {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2vh 0;
}

.line {
    flex-grow: 1;
    height: 0.1vh;
    background-color: #000;
}

.or-box {
    margin: 0 1vw;
    padding: 0.5vh 1vw;
    background-color: #fff;
}

/* ----------------------- 6. desktop-chatArea  -------------------------------------------------- */

#greetingContainer {
    text-align: center;
    margin-bottom: 10px;
}

#botAvatarGreeting {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

#greetingMessage {
    font-size: 16px;
    color: #333;
}

#chatAreaWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#chatArea {
    width: 60%;
    height: 30vw;
    border: none;
    border-radius: 15px;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    border-style: solid;
    border-width: 1px;
    border-color: #9f9f9f;
}

#chatArea::-webkit-scrollbar {
    width: 10px;
}

#chatArea::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

#chatArea::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.message {
    max-width: 80%;
    min-width: 40%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 15px;
    display: inline-block;
    font-size: 14px;
    line-height: 1.5;
}

.message-bot {
    background-color: #9f9f9f;
    color: white;
}

.message-user {
    background-color: #ddd;
    color: #333;
}

.message-wrapper {
    display: flex;
    align-items: flex-start;
    margin: 10px 0;
}

.user-wrapper {
    flex-direction: row-reverse;
}

.message-container {
    display: flex;
    flex-direction: column;
}

.message-container-bot {
    align-items: flex-start;
}

.message-container-user {
    align-items: flex-end;
}

.bot-wrapper {
    flex-direction: row;
}

.avatar {
    border-radius: 50%;
    border-style: solid;
    border-width: 1.5px;
    border-color: #9f9f9f;
    height: 48px;
    width: 48px;
    margin: 12px 0px 0 0px;
}

.avatar-user {
    margin-left: 10px;
}

.avatar-bot {
    margin-right: 8px;
}

.timestamp {
    font-size: 0.8em;
    color: grey;
}

/* ------------------------- 7. desktop- chatArea------------------------------------------------ */

#greetingContainer {
    text-align: center;
    margin-bottom: 1vh;
}

#botAvatarGreeting {
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
}

#greetingMessage {
    font-size: 1.6vh;
    color: #333;
}

#chatAreaWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#chatArea {
    width: 60vw;
    height: 30vw;
    border: none;
    border-radius: 1.5vw;
    padding: 1vw;
    margin: 0 auto;
    margin-bottom: 2vw;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    box-shadow: 0px 0.3vw 1.5vw rgba(0, 0, 0, 0.1);
    border-style: solid;
    border-width: 0.1vw;
    border-color: #9f9f9f;
}

#chatArea::-webkit-scrollbar {
    width: 1vw;
}

#chatArea::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 0.5vw;
}

#chatArea::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.message {
    max-width: 80vw;
    min-width: 40vw;
    padding: 1vw;
    margin: 1vw 0;
    border-radius: 1.5vw;
    display: inline-block;
    font-size: 1.4vw;
    line-height: 1.5;
}

.message-bot {
    background-color: #9f9f9f;
    color: white;
}

.message-user {
    background-color: #ddd;
    color: #333;
}

.message-wrapper {
    display: flex;
    align-items: flex-start;
    margin: 1vw 0;
}

.user-wrapper {
    flex-direction: row-reverse;
}

.message-container {
    display: flex;
    flex-direction: column;
}

.message-container-bot {
    align-items: flex-start;
}

.message-container-user {
    align-items: flex-end;
}

.bot-wrapper {
    flex-direction: row;
}

.avatar {
    border-radius: 50%;
    border-style: solid;
    border-width: 0.15vw;
    border-color: #9f9f9f;
    height: 4.8vw;
    width: 4.8vw;
    margin: 1.2vw 0 0 0;
}

.avatar-user {
    margin-left: 1vw;
}

.avatar-bot {
    margin-right: 0.8vw;
}

.timestamp {
    font-size: 0.8vh;
    color: grey;
}

#inputContainer {
    width: 90vw;
    height: 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1vw;
    margin: auto;
    margin-left: 4.4vw;
}

#inputText {
    width: calc(100% - 1vw);
    border: none;
    border-radius: 2vw;
    padding: 1vw;
    outline: none;
    font-size: 1.4vh;
    font-style: normal;
    box-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.1);
    background-color: white;
    margin-right: 0vw;
}

#inputText::placeholder {
    font-style: italic;
}

#submitButton {
    background-color: #9f9f9f;
    color: white;
    border: none;
    border-radius: 2vw;
    padding: 1vw 0;
    margin-left: 1vw;
    cursor: pointer;
    outline: none;
    box-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.1);
    font-size: 1.4vh;
    font-weight: bold;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11vw;
}

#submitButton:hover {
    background-color: #7f7f7f;
}

/* ------------------ 8. desktop-controlContainer ------------------------------------------------------- */

#greetingContainer {
    text-align: center;
    margin-bottom: 1vh;
}

#botAvatarGreeting {
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
}

#greetingMessage {
    font-size: 1.6vh;
    color: #333;
}

#chatAreaWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#chatArea {
    width: 60vw;
    height: 30vw;
    border: none;
    border-radius: 1.5vw;
    padding: 1vw;
    margin: 0 auto;
    margin-bottom: 2vw;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    box-shadow: 0px 0.3vw 1.5vw rgba(0, 0, 0, 0.1);
    border-style: solid;
    border-width: 0.1vw;
    border-color: #9f9f9f;
}

#chatArea::-webkit-scrollbar {
    width: 1vw;
}

#chatArea::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 0.5vw;
}

#chatArea::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.message {
    max-width: 80vw;
    min-width: 40vw;
    padding: 1vw;
    margin: 1vw 0;
    border-radius: 1.5vw;
    display: inline-block;
    font-size: 1.4vw;
    line-height: 1.5;
}

.message-bot {
    background-color: #9f9f9f;
    color: white;
}

.message-user {
    background-color: #ddd;
    color: #333;
}

.message-wrapper {
    display: flex;
    align-items: flex-start;
    margin: 1vw 0;
}

.user-wrapper {
    flex-direction: row-reverse;
}

.message-container {
    display: flex;
    flex-direction: column;
}

.message-container-bot {
    align-items: flex-start;
}

.message-container-user {
    align-items: flex-end;
}

.bot-wrapper {
    flex-direction: row;
}

.avatar {
    border-radius: 50%;
    border-style: solid;
    border-width: 0.15vw;
    border-color: #9f9f9f;
    height: 4.8vw;
    width: 4.8vw;
    margin: 1.2vw 0 0 0;
}

.avatar-user {
    margin-left: 1vw;
}

.avatar-bot {
    margin-right: 0.8vw;
}

.timestamp {
    font-size: 0.8vh;
    color: grey;
}

#inputContainer {
    width: 90vw;
    height: 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1vw;
    margin: auto;
    margin-left: 4.4vw;
}

#inputText {
    width: calc(100% - 1vw);
    border: none;
    border-radius: 2vw;
    padding: 1vw;
    outline: none;
    font-size: 1.4vh;
    font-style: normal;
    box-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.1);
    background-color: white;
    margin-right: 0vw;
}

#inputText::placeholder {
    font-style: italic;
}

#submitButton {
    background-color: #9f9f9f;
    color: white;
    border: none;
    border-radius: 2vw;
    padding: 1vw 0;
    margin-left: 1vw;
    cursor: pointer;
    outline: none;
    box-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.1);
    font-size: 1.4vh;
    font-weight: bold;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11vw;
}

#submitButton:hover {
    background-color: #7f7f7f;
}

/* ------------------------------------------------------------------------- */


