.form-popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #999999;
    z-index: 9;
    max-width: 300px;
    padding: 20px;
    background-color: #f1f1f1;
}

.container {
    padding: 20px;
    background-color: #f1f1f1;
}

.container input[type=text],
.container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 20px 0;
    border: none;
    background: #f1f1f1;
}

.container input[type=text]:focus,
.container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.container .btn {
    background-color: #9f9f9f;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

.container .btn:hover,
.open-button:hover {
    opacity: 1;
}

#login-popup,
#signup-popup {
    display: none;
}

.signup-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#login-popup {
    display: block;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.google-button {
    width: 100%;
    cursor: pointer;
    margin-top: 10px;
}

.or-separator {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
}

.line {
    flex-grow: 1;
    height: 1px;
    background-color: #000;
}

.or-box {
    margin: 0 10px;
    padding: 5px 10px;
    background-color: #fff;
}